/*=============================================
IMG FONDO
=============================================*/
/*#imgFondo{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100vh;
	z-index:-10;
	background-image:url(../fotosAV/FondoPantalla.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}*/
.navbar-brand{
	width:60px; 
	margin: 0; 
	float: none; 
	text-align:center;
}
.carousel-indicators li{
	position:relative;
}

.sticky-top{
	position: fixed;
	width: 100%;
	top: 0;
	left:0;

}